body, html {
	font-family: 'Lato', 'Arial', 'sans-serif';
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #2b2b2b;
	width: 100% !important;
	height: 100% !important;

}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #3e1551;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	color: #3e1551;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Lato', 'Arial', 'sans-serif';
}
a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: rgba(206, 156, 229, .5);
}
ul, ol {
	list-style: circle;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/*ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}*/
hr {
	height: 4px;
	width: 70px;

	position: absolute;
	background: rgba(206, 156, 229, .5);
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #2b2b2b;
	border-radius: 0px;
	padding: 10px 0;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}

.navbar-brand:hover {
	color: rgba(206, 156, 229);
}

.navbar-custom a {
	color: #f4f5f6;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: rgba(206, 156, 229);
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: rgba(206, 156, 229, .5);
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}


.navbar-toggle i.fa {
	color: #fff;
}


.navbar-toggle i.fa:hover {
	color: rgba(206, 156, 229);;
}



.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #3e1551;
	border-color: #3e1551;
}
.btn-primary {
	color: #fff;
	background-color: #3e1551;
	padding: 10px 20px;
	border-color: #3e1551;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: rgba(206, 156, 229, .5);
	border-color: rgba(206, 156, 229);
}
.btn-primary i.fa {
	margin-right: 10px;
}
/* Home Section */
.intro {
	display: flex;
	align-items: flex-start;
	/* align-items: center; */
	width: 100%;
	height: 100vh;
	padding: 100px 0;
	/* text-align: center; */
	color: #fff;
	background-image: url('../img/me-code1.jpg');
	background-color: #eee;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro-text{
	display: flex;
    flex-direction: column;
	justify-content: center;
	padding: 30px;
}

.section-title.center {
	padding: 25px 0 45px 0;
}


/* About Section */
#about {
	padding: 100px 0;
	background: #f6f6f6;
	
	
}
#about .about-text {
	margin-left: 10px;
}


#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}


/* education Section */
#education {
	padding: 100px 0;
	background: #eee;
}
#education h2 {
	color: #3e1551;
}
#education hr {
	background: rgba(206, 156, 229, .5);
}




/* experience Section */
#experience {
	padding: 100px 0;
	background: #f6f6f6;
}
.timeline {
	position: relative;
	padding: 0;
	list-style: none;
	
}
.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 1px;
	margin-left: -1.5px;
	background-color: #7c2aa2;
}
.timeline>li {
	position: relative;
	margin-bottom: 50px;
	min-height: 50px;
}
.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}
.timeline>li:after {
	clear: both;
}
.timeline>li .timeline-panel {
	float: right;
	position: relative;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline>li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 0;
	width: 70px;
	height: 70px;
	margin-left: 0;
	border: 1px solid #7c2aa2;
	border-radius: 100%;
	text-align: center;
	background: #fff;
	
}
.timeline>li .timeline-image h4 {
	margin-top: 20px;
	font-size: 14px;
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li:last-child {
	margin-bottom: 40px;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	
	font-size: 23px;
}
.timeline .timeline-heading h2 {
	margin-top: 30px;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
	color: #7c2aa2;
	font-size: 16px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	
	margin-bottom: 0;
}
/* Contact Section */
#contact {
	padding: 50px 0 40px 0;
	color: #3e1551;
	background: #eee;
	
}
#contact h2 {
	color: #3e1551;
}
#contact hr {
	background: rgba(206, 156, 229, .5);
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #3e1551;
}

#contact i.fa {
	color: #3e1551;
	margin-bottom: 10px;
}


.social {
	
	float:right;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #3e1551;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #7c2aa2;
}


/* Media Queries */
@media(min-width:300px){
	.intro{
		background-image: url('../img/me-code1.jpg');
		align-items: flex-start;
	}

	.timeline>li .timeline-image h4 {
	margin-top: 16px;
	font-size:10px;
}



}

@media(min-width:768px) {
.intro {
	height: 100vh;
	align-items: center;
	padding: 0;
	text-align: left;
	color: #fff;
	background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('../img/code-function.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	
}
.intro H1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}
.intro .name {
	font-weight: 600;
}
.intro .intro-text {
	max-width: 75%;
}
.intro .intro-text p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left:50px;
}
.timeline:before {
	left: 50%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: left;
	width: 41%;
	padding: 0 20px 20px 30px;
	text-align: right;
}
.timeline>li .timeline-image {
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.timeline>li .timeline-image h4 {

	line-height: 20px;
	font-size:15px;
	
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}

@media(min-width:992px) {
	

#here-me h1 {
	margin: 10px 0 0px;
}
.timeline>li {
	min-height: 150px;
}
.timeline>li .timeline-panel {
	padding: 0 20px 20px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 30px;
	font-size: 18px;
	line-height: 26px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 0 20px 20px;
}
}

@media(min-width:1200px) {
.timeline>li {
	min-height: 170px;
}
.timeline>li .timeline-panel {
	padding: 10px 20px 20px 100px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 40px;

	
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 10px 100px 20px 20px;
}
}
